---
title: Clark Community Park
---

#stockbridge-ga 
<iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=-84.24183368682863%2C33.546348585415245%2C-84.2320489883423%2C33.55358222399351&amp;layer=transportmap&amp;marker=33.54996548040621%2C-84.23694133758545" style="border: 1px solid black"></iframe>

<h3> Street Address </h3>
<a href="https://www.openstreetmap.org/?mlat=33.549965&amp;mlon=-84.236941#map=17/33.549965/-84.236941&amp;layers=T">111 Davis Rd<br/>
Stockbridge, GA  30281</a></p>





