---
title: JP Mosley Park
---

#stockbridge-ga
<iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=-84.16503667831422%2C33.532670972488205%2C-84.16082561016084%2C33.53472789464694&amp;layer=mapnik&amp;marker=33.53369943968489%2C-84.16293114423752" style="border: 1px solid black"></iframe>

<h3> Street Address </h3>

 <p><a href="https://www.openstreetmap.org/?mlat=33.533699&amp;mlon=-84.162931#map=19/33.533699/-84.162931">1041 Millers Mill Rd<br/>
Stockbridge, GA 30281</a></p>


<image src="/assets/jp_mosley_1.jpg]"/>