---
title: Pates Creek Nature Preserve
id: 9
---
<iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=-84.24777746200563%2C33.49235884160303%2C-84.2379927635193%2C33.49959699691027&amp;layer=transportmap&amp;marker=33.49597799489809%2C-84.24288511276245" style="border: 1px solid black"></iframe>

<h3> Street Address </h3>
<p><a href="https://www.openstreetmap.org/?mlat=33.68376&amp;mlon=-84.11399#map=16/33.68376/-84.11399&amp;layers=T">1309 Jodeco Rd<br/>
Stockbridge, GA  30281</a></p>

<image src="/assets/pates_creek_nature_preserve_1.jpg"/>