$bunny-fur: #d69e5d;
$bunny-ear: #644a49;
body {
  font-family: sans-serif;
  padding: 0;
  color: $bunny-ear;
  background: $bunny-fur;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.5rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 0 0;
}

.logo {
  max-width: 6rem;
  max-height: 6rem;
}

.logo-light {
  display: block;
}

.logo-dark {
  display: none;
}

img{ 
  max-width: 800px;
}
footer {
  margin: 4rem auto 0;
  padding: 0;
}

pre {
  overflow: scroll;
}

code {
  color: hsl(23,39%,7%);
  font-size: 1.15rem;
}

h2, a {
  color: hsl(23,39%,26%);
}

h3 {
  margin-top: 2rem;
  color: hsl(23,39%,5%);
}

table td, table th {
  text-align: left;
  padding: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background: $bunny-ear;
    color: $bunny-fur;
  }

  h2, a {
    color: hsl(23,39%,90%);
  }

  h3 {
    color: hsl(23,39%,85%);
  }

  code {
    color: hsl(23,39%,90%);
  }

  .logo-light {
    display: none;
  }

  .logo-dark {
    display: block;
  }
}

