---
title: Gratitude for all those who've supported the project
---

<h3> My inspiration </h3>
<h3> Providing assets and data</h3>
<p>I am grateful to all I learned from <a href="inaturalist.org">Inaturalist, a crowd-sourced animal observation project</a> for their wealth of animal data
</p><p>My thanks for the base silhouette images obtained from <a href="www.phylopic.org">PhyloPic, the open source image library for living things</a>. The artists are:
</p><ul>
    <li> Andy Wilson (Buteo lineatus, Odocoileus virginianus, Sphyrapicus varius, Thryothorus ludovicianus)</li>
    <li> Beth Reinke (Chelydra serpentina, Nerodia sipedon)</li>
    <li> Gabriela Palomo-Munoz (Odocoileus virginianus, Sylvilagus floridanus)</li>
    <li> Christoph Schomburg (Anolis carolinensis)</li>
    <li> Margot Michaud (Procyon lotor)</li>
    <li> Matías Muñoz (Strix woodfordii)</li>
    <li> Nina Skinner (Ardea cinerea)</li>
    <li> Steven Traver (Dasypus novemcinctus )</li>
    </ul>