---
title: Lops of Help
---
<h2 style="text-align:center"> Making the outdoors sparkle South of ATL </h2>
<div> Atlanta is a remarkably green city, with many state parks, maintained trails, and nature preserves within an hour of downtown.
    Since March 2025, we've explored the community <a href="https://www.plogging.org/what-is-plogging">while plogging</a>.
    We invite all of you to seek out new vistas, and leave both yourself and public spaces healthier in the process </div><br/>
<iframe src="https://www.google.com/maps/d/u/1/embed?mid=1XVxgD5NYkc3cTlpNoWRcOJIPcr1gofA&ehbc=2E312F" width="600" height="480"></iframe>


<ul>
    <% 
    site = Sitepress::Site.new
    site.resources.get('parks.html.erb').children.each do |child| 
    %>
      <li><%= link_to_page child %></li>
    <% end %>
</ul>
