# ---
# title: Squire Bun's Parks and Trails
# ---
<h3 style="text-align:center;margin:0">Public Greenspaces South of ATL center </h3>
<% 
  weight, distance = history_overview
%>

<p>
    As of April 8th, we've hiked more than <strong><%= distance %> miles</strong> 
    and removed more than <strong><%= weight %> pounds</strong> of garbage from the community. That trash weighs about the same as Common Snapping Turtle and a Nine-banded Armadillo!</p>
<ul>
    <% current_page.children.each do |child| %>
      <li><%= link_to_page child %></li>
    <% end %>
  </ul>
